.container {
    background-color: rgba(13, 255, 108, 0.57);
    display: flex;
    width: 1100px;
    height: 800px;
    border: 5px solid rgba(94, 254, 19, 0.33);
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
    /*display: flex;*/
    background-color: rgb(255, 171, 197);
    padding: 16px;
    border-radius: 20px;
    max-width: 160px;
    min-width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper:hover {
    box-shadow: 0 10px 40px rgb(254, 100, 169);
  }
  
  .image-wrapper {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    color: rgb(248, 255, 0);
    position: relative;
    top: 8px;
  }

  .dateTime {
    position: absolute;
    top: 10px;
    right: 7px;
    background-color: rgba(255, 255, 255, 0.66);
    color: rgb(6, 156, 42);
    padding: 6px 9px;
    font-size: 14px;
    border-radius: 9px;
  }

  .quantity {
    position: absolute;
    bottom: 10px;
    left: 7px;
    color: white;
  }

  .price {
    color: rgb(255, 57, 162);
    font-size: 12px;
    position: relative;
    top: 35px;
    }

  .button {
    background-color: rgb(4, 106, 0);
    padding: 12px 18px;
    border-radius: 12px;
    border: none;
    color: rgb(248, 255, 0);
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    left: 68px;
   }

   .button:hover {
    background-color: rgb(255, 57, 162);
    color: rgb(255, 255, 255);
  }
